.header {
  width: 100%;
  height: 60px;
  background-color: blue;
  color: white;
  box-sizing: border-box;
  padding: 0 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  &__link {
    margin-right: 20px;
    height: 100%;
    box-sizing: border-box;
    border-bottom: 3px solid transparent;
    color: white;
    display: flex;
    align-items: center;
    outline: none;
    cursor: pointer;

    &_active {
      border-bottom: 3px solid red;
    }
  }
}
