<div class="header">
  <span class="header__link" routerLink="menu" routerLinkActive="header__link_active">Меню</span>
  <!-- <span class="header__link" routerLink="channels" routerLinkActive="header__link_active">Каналы</span> -->
  <span class="header__link" [class.header__link_active]="isChannelsActive" (click)="redirectToChannels()">Каналы</span>
  <span class="header__link" routerLink="about" routerLinkActive="header__link_active">О нас</span>
</div>
